<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                >
                
   <h:head>             
  <title>AddaBazi</title>
  <link rel="shortcut icon" href="http://res.cloudinary.com/simpleview/image/upload/v1438123960/clients/grandrapids/file_bcf11a47-7451-464f-8c4d-c9d3e85e9146.png" />
  
  <link rel="stylesheet" href="css/addabaziHome.css" />
  
</h:head>

<h:form style="background:rgba(20, 21, 22, 0.52); height:100%">
		
		<div class="slider">
		<marquee behavior="alternate" direction="left" style="margin-left: 300px; margin-right: 30px">AddaBazi Restaurant.com</marquee>
		
		<a class="" href="billEntry-process-1.xhtml"><img class="image_left" style="margin-top: 50px;" src="icon/bill.png" title="Bill"/></a>
		<a class="" href="managerRegistrationList.xhtml"><img class="image_right" src="icon/manager.png" title="Go Manager" /></a><br/>
		<a class="" href="serviceRegistrationList.xhtml"><img class="image_left" src="icon/manu.ico" title="Service" /></a>
		<a class="" href="customerList.xhtml"><img class="image_right" src="icon/seals.png" title="Seal Infromation" /></a><br/>
				
		<a class="" href="managerRegistration.xhtml"><img class="image_left" src="icon/registration.png" title="Manager Registration" /></a>
		<a class="" href="serviceRegistration.xhtml"><img class="image_right" src="icon/food.png" title="Seal Infromation" /></a><br/>
		<a class="" href="categoryRegistration.xhtml"><img class="image_left" src="icon/category.png" title="Manager Registration" /></a>

		<a class="" href="login.xhtml"><img class="image_out" src="icon/logout.png" title="Seal Infromation" /></a><br/>
		</div>


  <div class="photo-cred">
    <a class="text text--small" title="Check out their blog." href="http://omasking.com/moin/" target="_blank">Design by <b>Akramul Huq Atif</b></a>
  </div>

  <div class="fullscreen-bg"><img src="img/background.jpg" style="width:100%; height:100%"/></div>
    
    
	</h:form>
						
</ui:composition>
