<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">


<h:head>
	<title>Insert title here</title>
</h:head>

<h:body>

	<h:form id="stdFrm">
	

	
		<center>
			<h:panelGrid columns="2">

				<h:outputLabel value="Student ID" style="display:none" />
				<h:inputText value=""
					style="display:none" />

				<h:outputLabel value="Student Name" />
				<h:inputText value="" />
				<h:outputLabel value="Student Roll" />
				<h:inputText value="" />
				<h:outputLabel value="Student Email" />
				<h:inputText value="" />
			</h:panelGrid>

			<h:commandButton value="Save"
				update="stdFrm" ajax="false" />
			

			

			

	

		</center>
			

	</h:form>
	
</h:body>



</html>